
DATABASE_URL="postgresql://postgres.krwlwfolnoakexjedfhy:careerconnect123213@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"
SECRET_KEY="supersecretkey_careerconnect"
CLOUDINARY_CLOUD_NAME="dcr0axp1k"
CLOUDINARY_API_KEY="235283431332565"
CLOUDINARY_API_SECRET="E2E3tA_1OAEQ3aV_6i5eJ2y-T2E"
